@import 'tailwindcss';

@keyframes glow {
    0%,100%{
        text-shadow: 0 0 5px powderblue,0 0 10px peru ,0 0 20px black ;
        color:white 
    }
    50%{
        text-shadow:0 0 10px black,0 0 20px brown,0 0 30px red  ;
        color:black;
    }
    
}

@layer utilities {
  @keyframes gradient-slide {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .animate-gradient-slide {
    background-size: 300% 300%;
    animation: gradient-slide 15s ease-in-out infinite;
  }
  .text-glow {
    text-shadow:
      0 0 4px #fff,
      0 0 8px black,  
      0 0 12px #7f1dff, 
      0 0 18px #5b21b6; 
  }

}
